@import 'tailwindcss';

@config '../tailwind.config.js';

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}
:root {
  --font-def: 'Zalando Sans Expanded', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  --font-sec: 'Parkinsans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}
@theme inline {
  --font-def: var(--font-def);
  --font-sec: var(--font-sec);
}

@utility btn-primary {
  @apply px-3 cursor-pointer  w-full sm:w-2/3 transition-all leading-[2.375] ring-0 bg-btn dark:bg-btndark text-base text-black dark:text-white font-medium h-10 rounded-lg enabled:hover:bg-primary disabled:opacity-60 disabled:cursor-not-allowed;
}

@utility btn-secondary {
  @apply cursor-pointer text-sm w-full py-2 px-3 border hover:bg-slate-50 border-slate-200 rounded-lg transition-all ring-0 focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 disabled:bg-slate-800 disabled:cursor-not-allowed;
}

@utility btn-link {
  @apply px-3 cursor-pointer font-medium underline disabled:cursor-not-allowed;
}

@utility h3 {
  @apply text-2xl leading-8 font-semibold text-slate-900;
}

@utility card {
  @apply bg-white/10 rounded-2xl border border-black/10 p-4 dark:border-border dark:bg-white/5 sm:p-5 md:p-6;
}

@utility page-title {
  @apply text-lg md:text-2xl font-semibold text-slate-900 dark:text-slate-50;
}

@utility page-sub {
  @apply text-base font-bold text-slate-900 dark:text-slate-50;
}

@utility main-colors {
  @apply bg-stone-50 dark:bg-stone-950 text-stone-950 dark:text-stone-50;
}

@utility no-scrollbar {
  @layer utilities {
    /* Hide scrollbar for Chrome, Safari, and Opera */
    &::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge, and Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@layer base {
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  @font-face {
    font-family: Poppins;
    font-weight: 400;
    src: url(../public/font/Poppins-Medium.ttf) format('truetype');
  }
}

@layer utilities {
  .btn-primary {
    padding: 1px;
    border: 1px solid transparent;
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
  }

  /* html {
  height: 100%;
  width: 100%;
  min-height: 100%;
  overflow-y: auto;
} */
}

.swiper {
  width: 100%;
  height: 100%;
  /* overflow: visible !important; */
}
.dark .swiper-pagination-bullet:not(.swiper-pagination-bullet-active) {
  background: rgb(206, 207, 255, 0.4);
}
.swiper-pagination-bullet {
  width: 100px !important;
  height: 8px !important;
  border-radius: 20px !important;
  opacity: 1;
  background: rgba(30, 202, 83, 0.22);
}

.swiper-pagination-bullet-active {
  background: #1eca53;
}

.ReactCollapse--collapse {
  transition: height 250ms;
}

.top-loader {
  width: 100%;
  height: 3px;
  background: #1eca53;
  animation: l2 0.8s infinite linear;
}
@keyframes l2 {
  50% {
    background: rgb(0, 0, 0, 0);
  }
}

@keyframes float-slow {
  0%,
  100% {
    transform: translateY(-5%);
    animation-timing-function: linear;
    /* animation-timing-function: cubic-bezier(0.8,0,1,1); */
  }
  50% {
    transform: none;
    animation-timing-function: linear;
    /* animation-timing-function: cubic-bezier(0,0,0.2,1); */
  }
}
.animate-float-slow {
  animation: float-slow 2s infinite;
}

.btn-b {
  box-shadow: 0px 0.5em 0px 0px #2bbd34;
}
.btn-b:hover {
  box-shadow: 0px 0.5em 0px 0px white;
}

@keyframes scale-in {
  0% {
    transform: scale(0.2);
    opacity: 0.1;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}
.anim-in {
  animation: scale-in ease-in 0.5s 1;
}
