@import 'tailwindcss';

/* For Chrome, Safari, Edge, and Opera */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; /* Ensures no extra space is left behind */
}

/* For Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
:root {
  --font-def: 'Zalando Sans Expanded', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  --font-sec: 'Parkinsans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

  --bg: #181818;
  --bg-card: #141414;
  --bg-tip: #4B4F52;
  --fg: #ffffff;
  --board: #252525;
  --primary: #1eca53;
 
}
.light {
  --bg: #ffffff;
  --bg-card: #f9f9f9;
  --bg-tip: #4B4F52;
  --fg: #000;
  --board: #f7f7f7;
  --primary: #21ca53;
}

@theme inline {
  --font-def: var(--font-def);
  --font-sec: var(--font-sec);

  --color-bg: var(--bg);
  --color-bg-card: var(--bg-card);
  --color-bg-tip: var(--bg-tip);
  --color-fg: var(--fg);
  --color-board: var(--board);
  --color-primary: var(--primary);
}


.m-shadow-around {
  box-shadow: 0px 0px 8px 0px var(--tw-shadow-color,--bg);
}
@utility btn-link {
  @apply px-3 cursor-pointer font-medium underline disabled:cursor-not-allowed;
}

@utility card {
  @apply bg-bg-card rounded-[14px] border border-board p-4;
}

@utility page-title {
  @apply font-def text-center pt-10 uppercase text-[clamp(28px,2.5vw,32px)] font-bold tracking-[7px] md:font-semibold md:tracking-[.6em];
}

@utility trans-center {
  @apply top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2
}