@import 'tailwindcss';

@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);
@custom-variant dark (&:where(.dark, .dark *));

/* For Chrome, Safari, Edge, and Opera */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; /* Ensures no extra space is left behind */
}

/* For Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
:root {
  --font-def: 'Zalando Sans Expanded', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  --font-sec: 'Parkinsans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

  --bg-main: #181818;
  --bg-card: #141414;
  --bg-tip: #4B4F52;
  --fg: #ffffff;
  --board: #252525;
  --primary: #1eca53;
  
 
}
.light {
  --bg-main: #ffffff;
  --bg-card: #f9f9f9;
  --bg-tip: #4B4F52;
  --fg: #000;
  --board: #E7E7E7;
  --primary: #21ca53;
}

@theme inline {
  --font-def: var(--font-def);
  --font-sec: var(--font-sec);

  --color-main: var(--bg-main);
  --color-card: var(--bg-card);
  --color-tip: var(--bg-tip);
  --color-fg: var(--fg);
  --color-board: var(--board);
  --color-primary: var(--primary);
  --breakpoint-slg: 56rem;
  --backgroundImage-error: linear-gradient(274.04deg, rgba(255, 133, 151, 0.16) -17.72%, rgba(255, 58, 88, 0.16) 113.66%);
}


.m-shadow-around {
  box-shadow: 0px 0px 8px 0px var(--tw-shadow-color,--bg-main);
}
@utility btn-link {
  @apply px-3 cursor-pointer font-medium underline disabled:cursor-not-allowed;
}

@utility card {
  @apply bg-card rounded-[14px] border border-board p-4;
}

@utility page-title {
  @apply font-def text-center pt-10 uppercase text-[clamp(28px,2.5vw,32px)] font-bold tracking-[7px] md:font-semibold md:tracking-[.6em];
}

@utility trans-center {
  @apply top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2
}